if SPLITKEYBOARD_DREI_LEFT || SPLITKEYBOARD_DREI_RIGHT

config ZMK_KEYBOARD_NAME
    default "SplitKeyboard Drei"

config ZMK_SPLIT_ROLE_CENTRAL
    default y if SPLITKEYBOARD_DREI_LEFT

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y if SPLITKEYBOARD_DREI_RIGHT

endif
