if SHIELD_SPLITKEYBOARD_DREI_LEFT

config ZMK_KEYBOARD_NAME
    default "SplitKB Drei"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITKEYBOARD_DREI_LEFT || SHIELD_SPLITKEYBOARD_DREI_RIGHT

config ZMK_SPLIT
    default y

endif